body {
    background: linear-gradient(45grad, #7b1e30, #0457ad);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 1400px;
}

.header {
    height: 50px;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
}

.table {
    position: relative;
    flex-direction: column;
    display: flex;
}

.row {
    display: flex;
}

.cell {
    position: relative;
    background-color: rgb(255, 247, 232);
    width: 34px;
    height: 28px;
    text-align: center;
    font-size: 20px;
    display: flex;
    margin-left: 2px;
    margin-bottom: 2px;
}

.player-name {
    background-color: rgb(255, 247, 232);
    width: 120px;
    height: 28px;
    font-size: 20px;
    padding-left: 5px;
    display: flex;
}

.margin-auto {
    margin: auto;
}

.player-name-container {
    margin-top: 5px;
}

.winrate-cell {
    position: relative;
    background-color: rgb(255, 247, 232);
    width: 90px;
    height: 28px;
    font-size: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    display: flex;
}

.winrate-cell:hover .month-pop-up {
    display: flex;
}

.month-pop-up {
    position: absolute;
    display: none;
    z-index: 10;
    left: -220px;
    background-color: #3b414d;
    flex-direction: column;
    font-size: 20px;
    cursor: default;
    width: 220px;
    max-height: 295px;
    overflow-y: auto;
}

.month-pop-up-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #161e27;
}

.pop-up-winrate-cell {
    height: 20px;
    width: 81px;
    padding-left: 5px;
    text-align: center;
}

.win {
    color: darkgreen;
    margin: auto;
}

.loose {
    color: red;
    margin: auto;
}

.date-selector {
    display: flex;
    font-size: 25px;
    align-items: center;
}

.date-box {
    position: relative;
    width: 190px;
    margin: 3px;
    border: 2px solid azure;
    border-radius: 20px;
}

.date-box:hover {
    border: 2px azure solid;
}

.previous-month,
.next-month {
    cursor: pointer;
    color: azure;
    border: 2px solid transparent;
    border-radius: 8px;
}

.previous-month:hover,
.next-month:hover {
    border: 2px azure solid;
}

.previous-month:active,
.next-month:active {
    background-color: cornflowerblue;
}

.date-box:active .date-list {
    display: flex;
}

.current-date {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: azure;
    flex-grow: initial;
    margin: 5px;
}

.current-month {
    font-size: 22px;
}

.date-list {
    display: none;
    width: 180px;
    height: 303px;
    top: -2px;
    left: -2px;
    position: absolute;
    background: linear-gradient(90grad, #7b1e30, #0457ad);
    z-index: 10;
    padding: 5px;
    border: 2px azure solid;
    border-radius: 20px;
    justify-content: space-between;
}

.date-list:hover {
    display: flex;
}

.year-list {
    overflow: hidden;
}

.month-list {
    font-size: 22px;
}

.year-list div {
    cursor: pointer;
}

.month-list div {
    cursor: pointer;
    text-align: right;
    height: 25px;
}

.year-list div:hover {
    color: azure;
}

.month-list div:hover {
    color: azure;
}

.selected {
    color: azure;
}

.not-display {
    display: none;
}

.current-day {
    background-color: mediumaquamarine;
}

.pointer {
    cursor: pointer;
}

.selectable-cell {
    cursor: pointer;
}

.selectable-cell:hover {
    background-color: #dcc9a5;
}

.pop-up {
    position: absolute;
    display: none;
    z-index: 10;
    left: 34px;
    background-color: #3b414d;
    flex-direction: column;
    font-size: 20px;
    cursor: default;
}

.cell:hover .pop-up {
    display: flex;
}

.pop-up-head {
    display: flex;
    color: azure;
    align-items: center;
}

.pop-up-hero {
    height: 25px;
    width: 42px;
}

.pop-up-hero img {
    height: 25px;
    width: 42px;
}

.pop-up-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    background-color: #161e27;
    cursor: pointer;
}

.pop-up-row a {
    display: block;
    height: 30px;
    position: absolute;
    width: 100%;
}

.pop-up-row:hover {
    background-color: #475050;
}

.pop-up-cell {
    height: 20px;
    width: 30px;
    padding-left: 5px;
    text-align: center;
}

.green {
    color: green;
}

.red {
    color: red;
}

.plots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot {
    position: relative;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plot-head {
    font-size: 24px;
    color: azure;
    margin-bottom: 5px;
}

.plot-body {
    width: 1300px;
    overflow: hidden;
    background-color: #eff4f9;
    height: 360px;
}

.plot-container {
    position: relative;
}

.plot-container canvas {
    position: relative;
}

.footer {
    height: 50px;
}

.plot-pop-up {
    position: absolute;
    display: none;
    top: 0px;
    width: 2px;
    z-index: 1;
}

.plot-pop-up-details {
    position: absolute;
    width: 50px;
}

.header {
    display: flex;
}

.loading {
    font-size: 30px;
    margin: auto;
    padding: 10px;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: coloring;
}

@keyframes coloring {
    0% {
        color: azure;
    }
    50% {
        color: transparent;
    }
    100% {
        color: azure;
    }
}

.dont-load {
    font-size: 30px;
    margin: auto;
    padding: 10px;
    color: red;
}

.plot-cover {
    position: absolute;
    top: 0;
    z-index: 2;
}

.plot-cover:active {
    cursor: all-scroll;
}

.hero-selector {
    display: flex;
    flex-wrap: wrap;
    width: 378px;
    position: absolute;
    background-color: #3b414d;
    z-index: 20;
    display: none;
    left: 0;
    top: 25px;
}

.all-hero {
    width: 378px;
    height: 25px;
    color: azure;
    text-align: center;
    font-size: 20px;
}

.hero-selector img {
    height: 25px;
    width: 42px;
}

.plot-hero-select {
    position: absolute;
    color: azure;
    font-size: 20px;
    left: 0;
}
